body {
  font-family: "Verdana", system-ui, -apple-system, sans-serif;
}

input,
textarea {
  font-family: inherit;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  font-size: 1.6rem;
}

button {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  font-size: 1.6rem;
}

.container {
  width: 100%;
  padding: 0 10%;
}

[class*="__wrapper"] {
  margin: 2rem 0;
  padding: 1.5rem;
  border: 0.3rem solid #050607;
  border-radius: 0.6rem;
}

/*#region Header */

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.header__logo a {
  font-size: 3.2rem;
}

.header__search {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header__serach--counts {
  margin-right: 3rem;
  font-size: 1.3rem;
}

.header__serach--counts strong {
  font-size: 1.6rem;
}

/*#endregion Header */

/*#region AddPost */

.addPost__wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 6fr 1fr;
  gap: 2rem;
}

/*#endregion AddPost */

/*#region PostCards */

.postCards__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.postCards__item {
  padding: 1.5rem 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
}

.postCards__item p {
  padding: 1rem;
  font-size: 1.1rem;
  color: rgb(129, 121, 121);
}
.postCards__item p strong {
  font-size: 1.4rem;
  color: black;
}

/*#endregion PostCards */

/*#region PostList */

.postList__wrapper {
  display: grid;
  gap: 1.5rem;
}

.postList__item {
  display: grid;
  align-items: center;
  grid-template-columns: 200px 1fr 280px 100px;
  gap: 2rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 1rem;
}

.postList__item p {
  font-size: 1.1rem;
  color: #938c8c;
}

.postList__item p strong {
  font-size: 1.4rem;
  color: #000;
}

.postList__item--btn {
  justify-self: flex-end;
}

/*#endregion PostList */

/*#region Footer */

.footer__copy {
  text-align: center;
}

/*#endregion Footer */

/*#region Responsive */

@media only screen and (max-width: 1024px) {
  .postCards__wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }

  .postList__item {
    grid-template-columns: 100px 1fr 110px 80px;
    gap: 1rem;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    padding: 0 5%;
  }
  .header__wrapper {
    flex-direction: column;
    gap: 1.5rem;
  }
  .header__search {
    gap: 1rem;
    flex-direction: column;
    width: 100%;
  }
  button {
    width: 100%;
  }

  .header__search--input {
    width: 100%;
  }

  .addPost__wrapper {
    grid-template-columns: none;
    gap: 1.5rem;
  }

  .postCards__wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .postList__item {
    grid-template-columns: none;
  }
  .postList__item--btn {
    justify-self: auto;
  }
}

@media only screen and (max-width: 480px) {
  .postCards__wrapper {
    grid-template-columns: none;
    gap: 1rem;
  }
}

/*#endregion Responsive */
