* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

img {
  min-width: 100%;
}

body {
  font-family: montserrat, sans-serif, serif;
  background-color: #ecffff;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  margin-top: 100px;
  text-align: center;
  font-size: 44px;
  background: linear-gradient(to bottom, rgb(35, 157, 123), rgb(0, 191, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
}

ul.links {
  margin: 50px 0;
}

ul.links li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.circle_box {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
}

.link {
  font-family: arima, sans-serif, serif;
  font-size: 24px;
  color: rgb(35, 157, 123);
  transition: transform 0.4s;
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid rgba(128, 128, 128, 0.489);
  border-radius: 4px;
  position: relative;
  background-color: #fff;
  z-index: 6;
}

.link::before {
  content: "";
  width: 0px;
  height: 70%;
  background: linear-gradient(rgb(35, 157, 123), rgb(0, 191, 255));
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: -3;
  transition: all 0.4s;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.links li:hover .link {
  transform: translateX(30px);
}

.links li:hover .link::before {
  transform: translate(-100%, -50%);
  width: 30px;
}

.go-home {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  padding: 20px;
  border-radius: 10px;
  color: rgba(128, 128, 128, 0.757);
  border: 1px solid rgba(128, 128, 128, 0.757);
  position: fixed;
  bottom: 2%;
  right: 2%;
  transition: all 0.4s;
  transform: scale(0.7);
  z-index: 999;
  overflow: hidden;
}

.go-home:hover {
  border-color: black;
  color: black;
  transform: scale(1.1);
}

@media only screen and (max-width: 767px) {
  .title {
    font-size: 32px;
  }
  .icon-box {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link {
    font-size: 18px;
    padding: 8px 10px;
    line-height: 20px;
  }
}
